*{
    box-sizing: border-box;
}

.articles, .articles-before, .articles-after {
    list-style: none;
    margin: 0;
    padding: 0;
}

.article {
    width: 90%;
    max-width: 370px;
    text-align: center;
    background-color: #FFFFFF;
    
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); 
    
    margin: 30px auto;
}

.article > a > img {
    width: 100%;
    margin-bottom: 15px;
    display: block;
}

.article a {
    text-decoration: none;
    color: #666666;
}

.article:hover .article-name{
    text-decoration: underline;
}

.article-theme {
    margin: 0px 0px 5px 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: 400;
}

.article-theme > object > a {
    font-family: 'PT Sans', sans-serif;
    color: #C9A96E;
}

.article-theme:hover {
    text-decoration: underline;
}

.article-theme:hover +.article-name {
    text-decoration: none;
}

.article-name {
    margin: 0px 60px 10px 60px;
    padding: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: black;
}

.article-about {
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #666666;

    margin: 0px;
    padding: 0px;
    padding-bottom: 15px;
}

.article-about > span {
    color: #B1B1B1;
    margin-left: 10px;
}

.main-article > a > img {
    height: 280px;
    margin-bottom: 15px;
    display: block;
    object-fit: cover;
    object-position: 50% 0;
}

.article-about .comments-number {
    color: #666666;
}

.text-preview {
    margin: 0 30px;
    padding-bottom: 15px;
}

@media (min-width: 768px) {
    .article {
        width: calc(50% - 30px);
        margin: 15px;
        float: left;
    }
    .articles {
        margin: 0 auto;
        padding: 0 auto;
        width: 760px;
    }
    .articles-before::after, .articles-after::after {
        content: "";
        display: block;
        clear: both;
    }

    .main-article{
        width: calc(100% - 30px);
        max-width: none;
        text-align: left;
    }

    .main-article > a > img {
        height: 100%;
        margin-bottom: 25px;
        object-fit: none;
    }

    .text-preview {
        margin: 0 105px 25px 30px;
        padding-bottom: 0px;
    }

    .main-article .article-theme {
        margin-left: 30px;
    }

    .main-article .article-name {
        margin-left: 30px;
    }

    .main-article .article-about {
        margin-left: 30px;
        padding-bottom: 0px;
        margin-bottom: 15px;
    }
}

@media (min-width: 992px) {
    .articles {
        width: 800px;
    }
}